<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Página de Login</title>
<link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="conteiner">
    <div class="logo">
      <img src="imgs/logo.png" alt="Logo">
      <p class="logo">Seja Bem Vindo!</p>
    </div>

    <p class="Avalie">Avalie livros e nos dê a sua opinião</p>

    <div class="textbox-email"> 
      <input type="text" placeholder="Email">
    </div>

    <div class="textbox-senha">     
      <input type="password" placeholder="Senha">
    </div>

    <button>LOGIN</button>

    <p class="link">Ainda não possui uma conta? <a href="cadastro.html">Registre-se</a></p>
  </div>
</body>
</html>